*,
::before,
::after {
  /*取消移动web点击高亮*/
  -webkit-tap-highlight-color: transparent;
  /*变宽计算的起始位置*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
}
input {
  -webkit-appearance: none;
  border:none;
  outline: none;
}
