.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;/*设置垂直居中*/
}
.login-logo {
  margin-top: 20%;
}
.login-from {
  font-size: 18px;
  font-weight: 200;
}
.username {
  background-color:transparent;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  background-image:url('../images/LPloginUser@3x.png');
  background-repeat:no-repeat;
  padding-left:25px;
  background-position:left;
  background-size:15px 18px;
  margin-top: 30%;
  height: 44px;

}
.password {
  background-color:transparent;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  background-image:url('../images/LPloginPassWord@3x.png');
  background-repeat:no-repeat;
  padding-left:25px;
  background-position:left;
  background-size:15px 18px;
  margin-top: 10px;
  height: 44px;
}
